In [20]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
import matplotlib.pyplot as plt
import seaborn as sns 
import pickle
import joblib
from datetime import datetime

In [21]:
#Loading data from the new dataset
new_df = pd.read_csv('loan_csv.csv')
#new_user_df = new_df [[ 'loan_id','no_of_dependents', 'education', 'self_employed', 'income_annum',
                   # 'loan_amount', 'loan_term', 'credit_score','residential_assets_value', commercial_assets_value','luxury_assets_value','bank_asset_value']]

new_df

,loan_id,no_of_dependents,education,self_employed,income_annum,loan_amount,loan_term,credit_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value,loan_status
0,1,2,Graduate,no,9600000,29900000,12,778,2400000,17600000,22700000,8000000,NaN
1,2,0,Not Graduate,yes,4100000,12200000,8,417,2700000,2200000,8800000,3300000,NaN

In [22]:
# Converting education column to numerical

label_encoder= LabelEncoder()
new_df['education']= label_encoder.fit_transform(new_df['education'])
new_df

,loan_id,no_of_dependents,education,self_employed,income_annum,loan_amount,loan_term,credit_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value,loan_status
0,1,2,0,no,9600000,29900000,12,778,2400000,17600000,22700000,8000000,NaN
1,2,0,1,yes,4100000,12200000,8,417,2700000,2200000,8800000,3300000,NaN

In [23]:
# Converting self_employed column to numerical
label_encoder = LabelEncoder()
new_df['self_employed']= label_encoder.fit_transform(new_df['self_employed'])
new_df

,loan_id,no_of_dependents,education,self_employed,income_annum,loan_amount,loan_term,credit_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value,loan_status
0,1,2,0,0,9600000,29900000,12,778,2400000,17600000,22700000,8000000,NaN
1,2,0,1,1,4100000,12200000,8,417,2700000,2200000,8800000,3300000,NaN

In [24]:
new_df.rename(columns={'commercial_assets_value':' commercial_assets_value','education':' education','self_employed':' self_employed','residential_assets_value':' residential_assets_value','no_of_dependents':' no_of_dependents','loan_term':' loan_term','luxury_assets_value':' luxury_assets_value','income_annum':' income_annum','loan_amount':' loan_amount','bank_asset_value':' bank_asset_value'},inplace=True)

In [25]:
numerical_column = [ ' no_of_dependents',' income_annum', ' loan_amount', ' loan_term', 'credit_score',
                     ' residential_assets_value', ' commercial_assets_value', ' luxury_assets_value',
                      ' bank_asset_value',]

#Seperating the dependent and independent columns
n_x = new_df.drop(columns= ['loan_status']) #independent 
n_y = new_df['loan_status']  #dependent column

scaler = StandardScaler()
n_x[numerical_column]= scaler.fit_transform(n_x[numerical_column])
n_x

,loan_id,no_of_dependents,education,self_employed,income_annum,loan_amount,loan_term,credit_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value
0,1,1.0,0,0,1.0,1.0,1.0,1.0,-1.0,1.0,1.0,1.0
1,2,-1.0,1,1,-1.0,-1.0,-1.0,-1.0,1.0,-1.0,-1.0,-1.0

In [26]:
model = joblib.load('classifier.pkl')
prediction = model.predict(n_x)
print(prediction)

[0 1]

In [41]:
# Get the current date
current_date = datetime.now().date()

final_df = pd.DataFrame(new_df)

final_df['Date']= current_date
final_df

,loan_id,no_of_dependents,education,self_employed,income_annum,loan_amount,loan_term,credit_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value,loan_status,Date
0,1,2,0,0,9600000,29900000,12,778,2400000,17600000,22700000,8000000,0,2024-03-16
1,2,0,1,1,4100000,12200000,8,417,2700000,2200000,8800000,3300000,1,2024-03-16

In [39]:
new_df['loan_status']= prediction


#new_df.to_csv('loan_csv.csv', index= False)
#new_df